In [80]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import sklearn as sk
from sklearn.model_selection import train_test_split # to build the test train split
from sklearn.naive_bayes import GaussianNB # to bild the Naive Bayes Model
from sklearn.model_selection import cross_val_score # to perform cross validation

In [2]:
%pwd

"D:\\Courses\\Kaggle\\Kaggle-1-Porto Seguro's Safe Driver Prediction"

In [3]:
%ls

 Volume in drive D is DATA
 Volume Serial Number is 3048-DECC

 Directory of D:\Courses\Kaggle\Kaggle-1-Porto Seguro's Safe Driver Prediction

03-11-2017  17:26    <DIR>          .
03-11-2017  17:26    <DIR>          ..
03-11-2017  17:26    <DIR>          .ipynb_checkpoints
30-10-2017  23:03             1,394 Driver_Insurance_Claim_Prediction.ipynb
30-10-2017  23:22           519,967 sample_submission.7z
30-10-2017  23:22        25,235,310 test.7z
30-10-2017  23:22        17,022,819 train.7z
21-08-2017  15:53       115,852,544 train.csv
               5 File(s)    158,632,034 bytes
               3 Dir(s)  487,405,588,480 bytes free

In [4]:
data_raw_train = pd.read_csv('train.csv',sep=',')

In [5]:
data_raw_train.head(5)

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [7]:
# shape of the train data
data_raw_train.shape

(595212, 59)

In [8]:
# Check the datatypes of the attributes
data_raw_train.dtypes

id                  int64
target              int64
ps_ind_01           int64
ps_ind_02_cat       int64
ps_ind_03           int64
ps_ind_04_cat       int64
ps_ind_05_cat       int64
ps_ind_06_bin       int64
ps_ind_07_bin       int64
ps_ind_08_bin       int64
ps_ind_09_bin       int64
ps_ind_10_bin       int64
ps_ind_11_bin       int64
ps_ind_12_bin       int64
ps_ind_13_bin       int64
ps_ind_14           int64
ps_ind_15           int64
ps_ind_16_bin       int64
ps_ind_17_bin       int64
ps_ind_18_bin       int64
ps_reg_01         float64
ps_reg_02         float64
ps_reg_03         float64
ps_car_01_cat       int64
ps_car_02_cat       int64
ps_car_03_cat       int64
ps_car_04_cat       int64
ps_car_05_cat       int64
ps_car_06_cat       int64
ps_car_07_cat       int64
ps_car_08_cat       int64
ps_car_09_cat       int64
ps_car_10_cat       int64
ps_car_11_cat       int64
ps_car_11           int64
ps_car_12         float64
ps_car_13         float64
ps_car_14         float64
ps_car_15         float64
ps_calc_01        float64
ps_calc_02        float64
ps_calc_03        float64
ps_calc_04          int64
ps_calc_05          int64
ps_calc_06          int64
ps_calc_07          int64
ps_calc_08          int64
ps_calc_09          int64
ps_calc_10          int64
ps_calc_11          int64
ps_calc_12          int64
ps_calc_13          int64
ps_calc_14          int64
ps_calc_15_bin      int64
ps_calc_16_bin      int64
ps_calc_17_bin      int64
ps_calc_18_bin      int64
ps_calc_19_bin      int64
ps_calc_20_bin      int64
dtype: object

In [9]:
# let us split this data into independent and dependent variable
data_raw_train_Y = data_raw_train['target']

In [12]:
data_raw_train_Y.head(3)

0    0
1    0
2    0
Name: target, dtype: int64

In [42]:
data_raw_train_X = data_raw_train.drop(['target','id'],axis=1)

In [43]:
data_raw_train_X.head(3)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,2,2,5,1,0,0,1,0,0,0,...,9,1,5,8,0,1,1,0,0,1
1,1,1,7,0,0,0,0,1,0,0,...,3,1,1,9,0,1,1,0,1,0
2,5,4,9,1,0,0,0,1,0,0,...,4,2,7,7,0,1,1,0,1,0

In [44]:
# let is do a 80-20 split to create local train and validation dataset
data1_X_train, data1_X_test, data1_y_train, data1_y_test = train_test_split(data_raw_train_X, data_raw_train_Y, 
                                                                            test_size=0.2, random_state=1)

In [45]:
# let us subject this to a Naive Bayes Model to see the baseline accuracy of prediction
# Creating an instance
nb_clf1 = GaussianNB()

In [46]:
# fitting the data with classifier
nb_clf1 = nb_clf1.fit(data1_X_train,data1_y_train)

In [47]:
# let us predict the values
nb_predict = nb_clf1.predict(data1_X_test)

In [48]:
# let us compute the accuracy
print('Accuracy obtained from train-test split on training data is:',nb_clf1.score(data1_X_train, data1_y_train))
print('Accuracy obtained from train-test split on testing data is:',nb_clf1.score(data1_X_test, data1_y_test))

Accuracy obtained from train-test split on training data is: 0.903118430641
Accuracy obtained from train-test split on testing data is: 0.902287408751

In [49]:
# 10-fold cross validation
cv_result_raw_data = cross_val_score(nb_clf1,data_raw_train_X,data_raw_train_Y,cv=10,scoring='accuracy')

In [50]:
print (cv_result_raw_data)

[ 0.90810121  0.90361547  0.90615235  0.90413629  0.90598276  0.90510912
  0.90520993  0.90408427  0.90386425  0.90552755]

In [53]:
# let us see how model performs on the test dataset given
data_raw_test = pd.read_csv('test.csv',sep=',')
data_raw_test = data_raw_test.drop('id',axis=1)
data_raw_test.head(3)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,0,1,8,1,0,0,1,0,0,0,...,1,1,1,12,0,1,1,0,0,1
1,4,2,5,1,0,0,0,0,1,0,...,2,0,3,10,0,0,1,1,0,1
2,5,1,3,0,0,0,0,0,1,0,...,4,0,2,4,0,0,0,0,0,0

In [54]:
# let us predict the values for actual test data
nb_predict_test_data = nb_clf1.predict(data_raw_test)

In [ ]:
# Predicting the probablities for test data
nb_predict_test_data_prob = nb_clf1.predict_proba(data_raw_test)

In [74]:
# Submissions are evaluated using the Normalized Gini Coefficient.
# The Gini Coefficient ranges from approximately 0 for random guessing, to approximately 0.5 for a perfect score. 
# The theoretical maximum for the discrete calculation is (1 - frac_pos) / 2
nb_predict_test_data_prob = nb_predict_test_data_prob/2

In [85]:
sample_submission_df = pd.read_csv('sample_submission.csv')
sub_df = pd.DataFrame()
sub_df['id'] = sample_submission_df['id']
sub_df['target'] = nb_predict_test_data_prob

In [77]:
sub_df.head(5)

   id    target
0   0  0.498611
1   1  0.498706
2   2  0.498419
3   3  0.499848
4   4  0.498264

In [79]:
# write to file
sub_df.to_csv('submission_03Nov.csv',float_format='%.6f', index=False)